
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youmee</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol" !important;
        }
    </style>
</head>

<body style="background:#ffffff;">
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; background:#fff; text-align:left; table-layout: fixed; " cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="2" style="padding:20px; color: #000; text-align: center;">
            <p style="text-align: left; color:#4f4f4f; font-size:16px; font-weight: 600; margin:0 0 10px;">
                Bonjour,
            </p>
            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 10px 0;">
            Toutes nos félicitations !! votre compte a été restauré maintenant. Profitez de votre temps avec nous.
            </p>
            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 12px 0;">
            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 0;">Merci, <br>L'équipe Youmee</p>
        </td>
    </tr>

</table>
</body>
</html>
