<!-- notification/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Notification Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ user_id|json_script:"room-name" }}
    <script>
        const user_id = JSON.parse(document.getElementById('room-name').textContent);
        // alert(window.location.host)
        // (user_id)
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        alert(ws_scheme
            + '://'
            + window.location.host
            + '/ws/chat/'
            + user_id
            + '/')
        const chatSocket = new WebSocket(
            // (window.location.protocol=="https"?'wss://':'ws://')
            ws_scheme
            + '://'
            + window.location.host
            + '/ws/notification/'
            + user_id
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-log').value += (data.data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.log(e.status)
            console.log(e)
            console.error('Chat socket closed unexpectedly');
        };

        chatSocket.onopen = function(e) {
            console.log(e.status)
            console.log('Notification socket opEN');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>